flask==2.3.3
opencv-python-headless==4.8.1.78
numpy==1.26.4
--index-url https://download.pytorch.org/whl/cpu
torch==2.2.2  # LTS version, smaller
torchvision==0.17.2
facenet-pytorch==2.5.3
pillow==10.2.0
psycopg2-binary==2.9.7
gdown==4.7.1